body{
    background-color: #7fffd4;
}
.contenitore{
    height: calc(100vh - 156px);
}
.wrapper{
    width: 45%;
    margin: auto;
    margin-top: 50px;
}
.tessera{
    float: left;
    border: 1px solid black;
    text-align: center;
    line-height: 80px;
}
.titolo{
    font-size: 40px;
    text-align: center;
    padding-top: 320px;
}
.active{
    background-color: #663399;
    color: white;
}
.pointer{

    cursor: pointer;
}
.youlose{
    color: red;
}
.youwin{
    color: green;
}
.youlose, .youwin{
    font-size: 50px;
    position: absolute;
    padding-left: 98px;
    padding-top: 172px;
}

footer{
    height: 49px;
    background-color: white;
}
footer h1{
    font-size: 20px;
    line-height: 20px;
}
